In [1]:
from yelpapi import YelpAPI

from pprint import pprint

yelp_api = YelpAPI('QEYgNaSZjKbmiEi5IDWKFlhDCUS3cNojIzDuTOQXKgptCiNHLR96AqR1JdKFkMg_k1jZMvdNb7hj-Quly-8vt3oqLPW7oc6hzskI7sIj-Sn98Tx-I67r8MUS-GE9ZHYx')

In [2]:
import datetime
import edgedb
import time
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd

df_businesses = pd.DataFrame()

In [4]:
# The following zip codes for Chicago downtown area and neighborhoods.
# Visit the following website for Chicago complete list of zip-codes for Chicago downtown.
# (https://www.seechicagorealestate.com/chicago-zip-codes-by-neighborhood.php)

import requests
chicago_downtown_zipcodes = ['60601', '60602', '60603', '60604', '60605', '60606', '60607', '60608', '60610', '60612', '60614', '60616', '60543']

for zip_code in chicago_downtown_zipcodes:
    for x in range(10):
        response = yelp_api.search_query(categories='Restaurants+Entertainment+Nightlife', 
                                     location=zip_code, 
                                 sort_by='rating', limit=50, offset=x*50)
        
        # Using concat as append is deprecated. 
        result_df = pd.DataFrame(response['businesses'])
        df_businesses = pd.concat([result_df, df_businesses], axis=0, ignore_index=True)

In [6]:
ids=[]
for i in range(2000):
    ids.append(df_businesses.iloc[i].id)
# print(ids);

In [9]:
print(len(ids))

2000

In [30]:
from datetime import datetime

def changeDateFormat(input_date_string):
#     input_date_string = "2023-08-07 12:37:13"

    # Convert string to datetime object
    input_datetime = datetime.strptime(input_date_string, "%Y-%m-%d %H:%M:%S")

    # Extract date part in the desired format
    output_date_string = input_datetime.strftime("%Y-%m-%d")
    return output_date_string

In [31]:
from datetime import datetime
def toUnix(input_date_string):

    # Convert string to datetime object
    input_datetime = datetime.strptime(input_date_string, "%Y-%m-%d")

    # Convert datetime object to Unix timestamp
    unix_timestamp = int(input_datetime.timestamp())

    # Print the result
    return unix_timestamp

In [18]:
import requests
business_reviews=[]
def fetch_Reviews(ids):
    for i in range(len(ids)):
        business_id=df_businesses.iloc[i].id
        url= f"https://api.yelp.com/v3/businesses/{business_id}/reviews?limit=20&sort_by=yelp_sort"
        headers = {
            "accept": "application/json",
            "Authorization": "Bearer QEYgNaSZjKbmiEi5IDWKFlhDCUS3cNojIzDuTOQXKgptCiNHLR96AqR1JdKFkMg_k1jZMvdNb7hj-Quly-8vt3oqLPW7oc6hzskI7sIj-Sn98Tx-I67r8MUS-GE9ZHYx"
        }
        response = requests.get(url, headers=headers)
        responseJson=response.json()
#         print(responseJson)
        for review in responseJson["reviews"]:
            review_obj={
                "Business_id":business_id,
                "Review_id":review["id"],
                "Review":review["text"],
                "Rating":review["rating"],
                "UserID":review["user"]["id"],
                "Username":review["user"]["name"],
                "date":toUnix(changeDateFormat(review["time_created"])),
            }
            business_reviews.append(review_obj)
    return business_reviews

In [20]:
business_reviews=fetch_Reviews(ids)
print(len(business_reviews))

In [22]:
print(business_reviews[0]["Review"])

Best rotisserie chicken I've ever had. Seasoned perfectly. Tender and delicious every time. Awesome job Chicken Man!

In [14]:
changeDateFormat("2023-08-07 12:37:13");

2023-08-07

In [23]:
client = edgedb.create_client()

In [34]:
def insert_reviews(business_reviews):
    for i in range(len(business_reviews)):
        client.query("""
            INSERT User {
                name := <str>$name
            } unless conflict on .name
        """, name=business_reviews[i]["Username"])
            
        client.query("""
                INSERT Review {
                    review := <str>$review,
                    rating := <float32>$rating,
                    review_date:=<datetime>to_datetime(<str>$datetime_object),
                    reviews_business := (
                        select Business
                        filter
                            .ID = <str>$id
                        limit 1
                    ),
                    written_by := (
                        select User
                        filter
                            .name = <str>$user_name
                        limit 1
                    )
                }
            """, datetime_object=business_reviews[i]["date"].split()[0],review=business_reviews[i]["Review"], rating=business_reviews[i]["Rating"], id=business_reviews[i]["Business_id"], user_name=business_reviews[i]["Username"])

In [25]:

def insert_state_country_and_city(df_businesses):
    for i in range(len(df_businesses)):
        client.query("""
                INSERT City {
                    name := <str>$name,
                    in_state := (
                        select State
                        filter
                            .name = <str>$state_name
                        limit 1
                    )
                } unless conflict on .name
            """, name=df_businesses.iloc[i].location['city'], state_name=df_businesses.iloc[i].location['state'])

        client.query("""
                INSERT State {
                    name := <str>$name,
                    in_country := (
                        select Country
                        filter
                            .name = <str>$country_name
                        limit 1
                    )
                } unless conflict on .name
            """, name=df_businesses.iloc[i].location['state'], country_name=df_businesses.iloc[i].location['country'])

        client.query("""
                INSERT Country {
                    name := <str>$name
                } unless conflict on .name
            """, name=df_businesses.iloc[i].location['country'])

In [15]:
# insert_state_country_and_city(df_businesses)

In [26]:
import geocoder
import requests
import json

geocoder.ApiKey = "AIzaSyBuw_qnqqQnzVTBJnQiLMu7zhJWGRPybQM"
chicago_community_areas = ["Rogers Park", "West Ridge", "Uptown", "Lincoln Square", "North Center", "Lake View", "Lincoln Park", "Chicago", "Near North Side", "Edison Park", "Norwood Park", "Jefferson Park", "Forest Glen", "North Park", "Albany Park", "Portage Park", "Irving Park", "Dunning", "Montclare", "Belmont Cragin", "Hermosa", "Avondale", "Logan Square", "Humboldt Park", "West Town", "Austin", "West Garfield Park", "East Garfield Park", "Near West Side", "North Lawndale", "South Lawndale", "Lower West Side", "The Loop", "Loop", "Near South Side", "Armour Square", "Douglas", "Oakland", "Fuller Park", "Grand Boulevard", "Kenwood", "Washington Park", "Hyde Park", "Woodlawn", "South Shore", "Chatham", "Avalon Park", "South Chicago", "Burnside", "Calumet Heights", "Roseland", "Pullman", "South Deering", "East Side", "West Pullman", "Riverdale", "Hegewisch", "Garfield Ridge", "Archer Heights", "Brighton Park", "McKinley Park", "Bridgeport", "New City", "West Elsdon", "Gage Park", "Clearing", "West Lawn", "Chicago Lawn", "West Englewood", "Englewood", "Greater Grand Crossing", "Ashburn", "Auburn Gresham", "Beverly", "Washington Heights", "Mount Greenwood", "Morgan Park", "O'Hare", "Edgewater"]

In [27]:
def insert_business_and_categories_communityAreas_zipcode_and_streetAddress(df_businesses):
    for i in range(len(df_businesses)):
        community_area = 'Chicago'
        categories=[]
        latitude = df_businesses.iloc[i].coordinates['latitude']
        longitude = df_businesses.iloc[i].coordinates['longitude']
        if df_businesses.iloc[i].coordinates["latitude"] != None and df_businesses.iloc[i].coordinates["longitude"] != None:
            coordinates = (df_businesses.iloc[i].coordinates["latitude"], df_businesses.iloc[i].coordinates['longitude'])
        else:
            continue
        url = f'https://maps.googleapis.com/maps/api/geocode/json?latlng='+str(df_businesses.iloc[i].coordinates['latitude'])+','+str(df_businesses.iloc[i].coordinates['longitude'])+'&key='+geocoder.ApiKey
        response = requests.get(url, verify=False).json()

        if response['results']:
            if response['results'][0] != None:
                for item in response['results'][0]['address_components']:
                    if 'neighborhood' in item['types'] and item['long_name'] in chicago_community_areas:
                        community_area = item['long_name']
        
        
        client.query("""
            INSERT ZipCode {
                digits := <str>$digits,
                in_city := (
                    select City
                    filter
                        .name = <str>$city_name
                    limit 1
                ),
                in_communityArea := (
                    select CommunityArea
                    filter
                        .name = <str>$community_area_name
                    limit 1
                )
            } unless conflict on .digits else (
                update ZipCode
                  set {
                    in_communityArea += (
                        select CommunityArea
                        filter
                            .name = <str>$community_area_name
                        limit 1
                    )
                  }
                )
        """, digits=df_businesses.iloc[i].location['zip_code'], city_name=df_businesses.iloc[i].location['city'], community_area_name=community_area)
        
        client.query("""
                INSERT StreetAddress {
                    address1 := <str>$address1,
                    address2 := <str>$address2,
                    address3 := <str>$address3,
                    coordinates := """ + str(coordinates) + """,
                    in_zipcode := (
                        select ZipCode
                        filter
                            .digits = <str>$zip_code
                        limit 1
                    )
                } unless conflict on .coordinates
            """, address1=df_businesses.iloc[i].location["address1"] if df_businesses.iloc[i].location["address1"] else '', address2=df_businesses.iloc[i].location["address2"] if df_businesses.iloc[i].location["address2"] else '', address3=df_businesses.iloc[i].location["address3"] if df_businesses.iloc[i].location["address3"] else '', zip_code=df_businesses.iloc[i].location['zip_code'])
        
        
        for category in df_businesses.iloc[i].categories:
            if category['title'] not in categories:
                categories.append(category['title'])
            client.query("""
                INSERT Category {
                    name := <str>$name
                } unless conflict on .name
            """, name=category['title'])
        
        client.query("""
            INSERT CommunityArea {
                name := <str>$name,
                in_city := (
                    select City
                    filter
                        .name = <str>$city_name
                    limit 1
                )
            } unless conflict on (.name, .in_city)
        """, name=community_area, city_name=df_businesses.iloc[i].location['city'])
        
        client.query("""
                INSERT Business {
                    ID := <str>$id,
                    name := <str>$name,
                    alias := <str>$alias,
                    rating := <float32>$rating,
                    review_count := <int32>$review_count,
                    coordinates := """ + str(coordinates) + """,
                    in_communityArea := (
                        select CommunityArea
                        filter
                            .name = <str>$community_area_name
                        limit 1
                    ),
                    has_address := (
                        select StreetAddress
                        filter
                            .coordinates.latitude = <float32>$latitude and .coordinates.longitude = <float32>$longitude 
                        limit 1
                    ),
                    in_category := (
                        select Category
                        filter
                            .name in array_unpack(<array<str>>$category_array)
                    )
                } unless conflict on .ID
            """, id=df_businesses.iloc[i]['id'], name=df_businesses.iloc[i]['name'], alias=df_businesses.iloc[i]['alias'], rating=df_businesses.iloc[i]['rating'], review_count=int(df_businesses.iloc[i]['review_count']), community_area_name=community_area, latitude=coordinates[0], longitude=coordinates[1], category_array=categories)

In [35]:
# insert_state_country_and_city(df_businesses)
# insert_business_and_categories_communityAreas_zipcode_and_streetAddress(df_businesses)
insert_reviews(business_reviews)

QueryError: cannot cast 'std::datetime' to 'cal::local_date'
   ┌─ query:5:51
   │
 5 │                       review_date:=<cal::local_date>to_datetime(<str>$datetime_object),
   │                                                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ error